:root {
    font-family: monospace;
}


.table tr[data-href]:hover {
    background-color: #cccccc;
}

.certificate-card {
    display: inline-block;
}

.certificate-card > .certificate-card-arc{
    top: 40px; right: 0; left: 0; letter-spacing: -0.1em;
}