:root {
    font-family: monospace;
}


.table tr[data-href]:hover {
    background-color: #cccccc;
}

.certificate-card {     
    display: inline-block;
    width: 185px;
}

.certificate-card .certificate-card-issuer {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.certificate-card .certificate-card-participant {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.certificate-card > img{  
    width: 100%;
}

.certificate-card > .certificate-card-arc{
    top: 40px; right: 0; left: 0; letter-spacing: -0.1em;
}

#course-participant-list > .list-group-item {
    white-space: nowrap;
    width: 100%;
    line-height: 1.15;
}

/* Checkbox for certificate issue page */
#course-participant-list > .list-group-item .issue-participant-checkbox {
    position: absolute;
    margin-top: 4px;
}


#course-participant-list > .list-group-item .checkbox-label {
    width: 100%;
    padding-left: 20px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0 !important;
}


#course-participant-list .participant-remove-button {
    position: absolute;
    right: 10px;
}

#course-participant-list .participant-item {
    width: 100%;
    padding-right: 15px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0 !important;
}